<div class="container">
    <mat-card>
        <div >
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-subtitle>User Information</mat-card-subtitle>
        </div>
        <form>
            <div fxLayout="row" fxLayoutAlign="space-between stretch">
                <mat-form-field fxFlex="49" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput formControlName="userName" placeholder="Placeholder">
                </mat-form-field>

                <mat-form-field fxFlex="49" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between stretch" >
                <mat-form-field fxFlex="32" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="Name" placeholder="Placeholder">
                </mat-form-field>

                <mat-form-field fxFlex="32" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone" placeholder="Placeholder">
                </mat-form-field>

                <mat-form-field fxFlex="32" appearance="outline">
                    <mat-label>Category</mat-label>
                    <input matInput formControlName="category" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </form>
    </mat-card>
</div>
    